<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>quartz任务动态修改</title>
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script th:src="@{/jqpaginator.min.js}"></script>
    <style>
        .table {
            margin-bottom: 0;
        }
        .btn {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <div>
        <h2>quartz任务动态修改</h2>
    </div>
    <div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>调度器名</th>
                <th>任务名</th>
                <th>任务组</th>
                <th>任务描述</th>
                <th>任务类名</th>
                <th>运行状态</th>
                <th align="center">编辑</th>
            </tr>
            </thead>
            <tbody id="table-content">

            </tbody>
        </table>
        <ul id="page" class="pagination"></ul>
    </div>
</div>
<script>
    var ctx = /*[[@{/}]]*/ '';
    $(function() {
        loadJobDetails(1);
    });

    function loadJobDetails(num) {
        var url = ctx + "jobDetails";
        $.get(url, {page: num}, function (data) {
            $('#page').jqPaginator({
                totalPages: data.pages,
                visiblePages: 5,
                currentPage: num,
                onPageChange: function (num, type) {
                    if (type !== "init") {
                        loadJobDetails(num);
                    }
                    // $('#text').html('当前第' + num + '页');
                }
            });
            var html = "";
            $.each(data.list, function (i, jobDetail) {
                html += "<tr>";
                html += "<td>" + jobDetail.schedName + "</td>";
                html += "<td>" + jobDetail.jobName + "</td>";
                html += "<td>" + jobDetail.jobGroup + "</td>";
                html += "<td>" + jobDetail.description + "</td>";
                html += "<td>" + jobDetail.jobClassName + "</td>";
                html += "<td>" + jobDetail.jobState + "</td>";
                html += "<td>";
                if (jobDetail.jobState === "PAUSED") {
                    html += "<a id='resume' class='btn btn-success btn-sm' onclick='resumeJob(" + JSON.stringify(jobDetail) + ");'>恢复</a>";
                } else {
                    html += "<a id='pause' class='btn btn-info btn-sm' onclick='pauseJob(" + JSON.stringify(jobDetail) + ");'>暂停</a>";
                }
                html += "<a id='del' class='btn btn-danger btn-sm' onclick='delJob(" + JSON.stringify(jobDetail) + ");'>删除</a>";
                html += "</td>";
                html += "</tr>";
            });
            $("#table-content").html(html);
        })
    }

    function pauseJob(jobDetail) {
        var url = ctx + "job/pause";
        var params = {
            name: jobDetail.jobName,
            group: jobDetail.jobGroup
        };
        $.post(url, params, function (data) {
            if (!data.error) {
                loadJobDetails(1);
            }
        });

    }

    function delJob(jobDetail) {
        var url = ctx + "job/del";
        var params = {
            name: jobDetail.jobName,
            group: jobDetail.jobGroup
        };
        $.post(url, params, function (data) {
            if (!data.error) {
                loadJobDetails(1);
            }
        });
    }


    function resumeJob(jobDetail) {
        var url = ctx + "job/resume";
        var params = {
            name: jobDetail.jobName,
            group: jobDetail.jobGroup
        };
        $.post(url, params, function (data) {
            if (!data.error) {
                loadJobDetails(1);
            }
        });
    }

    function updateJob() {
        var url = ctx + "job/resume";
        $.post(ctx, {}, function (data) {
            if (!data.error) {
                loadJobDetails(1);
            }
        });
    }
</script>
</body>
</html>