<!DOCTYPE html>
<!-- 添加命名空间 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <!-- 变量表达式 ${...} -->
    <!-- 使用th:text标签的值替换title标签里的值,title标签里的值只是为了给前端开发时做展示用的.这样很好的做到了前后端分离 -->
    <!-- 获取session、request中的数据 -->
    <title th:text="${title}">title</title>
</head>
<body>

<!-- 消息表达式 #{...}, 也称为文本外部化、国际化或i18n -->
<span th:text="#{header.address.city}">...</span>

<!-- ${session.login_user} 获取session的数据-->
<div th:object="${session.login_user}">
    <span th:text="*{userId}">userId</span>
    <span th:text="*{username}">username</span>
    <span th:text="*{password}">password</span>
    <span th:text="*{createTime}">createTime</span>
</div>

<!-- 链接表达式@{…},类似的标签有:th:href和th:src -->
<a th:href="@{https://rengangli.com}">绝对路径</a>
<a th:href="@{/}">相对路径</a>
<a th:href="@{css/bootstrap.min.css}">Content路径,默认访问resources/static下的css文件夹</a>

<!-- 字符串替换 -->
<label th:text="'Welcome, ' + ${session.login_user.username} + '!'"></label>

<!-- 运算符 +,-,*,/,% -->
<label th:with="isEven=(${count} % 2 == 0)"></label>

<!-- 条件 -->
<!-- 标签只有在th:if中条件成立时才显示, th:unless相反,不成立时才显示 -->
<a th:href="@{/login}" th:if="${session.login_user == null}">Login</a>

<!-- 条件语句 -->
<div th:switch="${session.login_user.username}">
    <p th:case="'admin'">login_user is an <span th:text="${session.login_user.username}"></span></p>
    <p th:case="'dali'">login_user is an <span th:text="${session.login_user.username}"></span></p>
    <!-- 默认属性default可以用*表示 -->
    <p th:case="*">login_user is null</p>
</div>

<!-- 遍历 -->
<table>
    <tr th:each="user : ${users}">
        <td th:text="${user.userId}">id</td>
        <td th:text="${user.username}">name</td>
        <td th:text="${user.password}">name</td>
        <td th:text="${user.createTime}">name</td>
    </tr>
</table>

<!-- Utility对象,内置于Context中,可以通过#直接访问,包含#dates、#calendars、#numbers、#strings... -->
<label th:text="${#dates.createNow()}">#dates</label>

<!-- js中的表达式 -->
<script th:inline="javascript">
    var ctx = /*[[@{/}]]*/ '';
    var loginUser = /*[[${session.login_user.username}]]*/ '';
    alert(ctx);
    alert(loginUser);
</script>

</body>
</html>