<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>邮件日志</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <script th:src="@{/layui/layui.js}"></script>
    <style>
        .layui-container {
            margin-top: 50px;
        }
        .layui-card .layui-tab-brief .layui-tab-content {
            padding: 15px;
        }
        .layui-card .layui-tab-brief .layui-tab-title li {
            margin-left: 15px;
            padding: 0;
            line-height: 42px;
        }
        .search-input {
            width: auto;
            height: 30px;
            margin-right: 10px;
            display: inline;
        }
    </style>
</head>
<body>
<div class="layui-container">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">邮件日志</li>
                <li>发送邮件</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div style="margin-bottom: 10px;">
                        <input id="send-to" type="text" class="layui-input search-input " placeholder="请输入关键字" />
                        <button class="layui-btn layui-btn-normal layui-btn-sm" id="query">查询</button>
                        <button class="layui-btn layui-btn-danger layui-btn-sm" id="del">批量删除</button>
                    </div>
                    <table id="mail" lay-filter="mail"></table>
                </div>
                <div class="layui-tab-item">
                    <div style="margin-bottom: 10px;">
                        <div class="layui-form">
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">接收者</label>
                                <div class="layui-input-block">
                                    <input type="text" id="to" placeholder="请输入邮件标题" class="layui-input"/>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">邮件标题</label>
                                <div class="layui-input-block">
                                    <input type="text" id="subject" placeholder="请输入邮件标题" class="layui-input"/>
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">邮件内容</label>
                                <div class="layui-input-block">
                                    <textarea id="text" placeholder="请输入邮件内容" class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item layui-layout-admin">
                                <div class="layui-input-block">
                                    <button id="send-mail" class="layui-btn">立即发送</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script th:inline="javascript">
var ctx = /*[[@{/}]]*/ ''; //context-path
layui.use(['table', "element", "jquery"], function(){
    var $ = layui.jquery,table = layui.table;
    var options = {
        elem: '#mail',
        url: ctx + "mails",
        where: {
            name: $("#send-to").val()
        },
        page: {
            curr: 1
        },
        cols: [
            [
                {type:'checkbox'},
                {"field": "to", "title": "接收者", width:200},
                {"field": "subject", "title": "标题"},
                {"field": "text", "title": "内容"},
                {"field": "sendDate", "title": "发送时间"},
                {"field": "sendTime", "title": "时间(ms)", width:100, "align":"center"},
                {"field": "success", "title": "是否成功", toolbar: '#toolbar', width:100, "align":"center"},
                {"field": "message", "title": "异常信息"}
            ]
        ]
    };
    var tableIns = table.render(options);

    $("#query").click(function () {
        refresh();
    });

    $("#del").on("click", function () {
        var checkStatus = table.checkStatus('mail'); //test即为基础参数id对应的值
        if (checkStatus.data.length === 0) {
            layer.msg("未选中数据行");
        } else {
            var ids = [];
            $.each(checkStatus.data, function (i, mail) {
                ids.push(mail.id);
            });
            layer.confirm('真的删除行么', function(index){
                var params = {
                    _method: "DELETE",
                    ids:ids
                };
                request(ctx + "mails", "POST", params, "邮件日志删除");
                layer.close(index);
            });
        }
        // console.log(checkStatus.isAll ) //表格是否全选
    });

    // 重新加载数据
    function refresh() {
        options.where.name = $("#send-to").val();
        tableIns.reload(options);
    }

    $("#send-mail").on("click", function () {
        var params = {
            to:$("#to").val(),
            subject:$("#subject").val(),
            text:$("#text").val()
        };
        request("mail", "POST", params, "邮件发送")
    });

    // 向后台发送请求
    function request(url, method, params, msg) {
        //loading层
        var i = layer.msg(msg + '中', {
            icon: 16
            ,shade: 0.01
        });
        $.ajax({
            url:url,
            type:method,
            dataType:'json',
            data: params,
            success:function(data){
                layer.close(i);
                if (data.code === 0) {
                    refresh();
                    layer.msg(msg + "成功！");
                } else {
                    layer.open({
                        type:1,
                        title: msg + "失败！",
                        area: ['350px', '200px'],
                        content: '<div style="padding: 20px;">' + data.message + '</div>',
                        btn: ['确定'],
                        yes: function (index) {
                            layer.close(index);
                        }
                    });
                }
            },
            error() {
                layer.msg(msg + "失败！");
                layer.closeAll('loading');
            }
        });
    }
});
</script>
<script type="text/html" id="toolbar">
    {{#  if(d.success){ }}
    <span class="layui-btn layui-btn-normal layui-btn-xs">成功</span>
    {{#  } else { }}
    <span class="layui-btn layui-btn-danger layui-btn-xs">失败</span>
    {{#  } }}
</script>
</body>
</html>


