<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renguangli.mybatis.mapper.UserMapper">

    <sql id="table_name">sb_user</sql>

    <sql id="cols">
        user_id userId,username,password,salt,locked,expired,
        name,sex,phone_number phoneNumber,email,
        create_datetime createDatetime,
        password_update_datetime passwordUpdateDatetime
    </sql>

</mapper>