<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>邮件日志</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <script th:src="@{/layui/layui.js}"></script>
    <style>
        .layui-container {
            margin-top: 100px;
        }
        .layui-card .layui-tab-brief .layui-tab-content {
            padding: 15px;
        }
        .layui-card .layui-tab-brief .layui-tab-title li {
            margin-left: 15px;
            padding: 0;
            line-height: 42px;
        }
        .search-input {
            width: auto;
            height: 30px;
            margin-right: 10px;
            display: inline;
        }
    </style>
</head>
<body>
<div class="layui-container">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">邮件日志</li>
                <li>发送邮件</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div style="margin-bottom: 10px;">
                        <input id="send-to" type="text" class="layui-input search-input " placeholder="请输入关键字" />
                        <button class="layui-btn layui-btn-normal layui-btn-sm" id="query">查询</button>
                        <button class="layui-btn layui-btn-danger layui-btn-sm" id="del">批量删除</button>
                    </div>
                    <table id="mail" lay-filter="mail"></table>
                </div>
                <div class="layui-tab-item">
                    <div style="margin-bottom: 10px;">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script th:inline="javascript">
var ctx = /*[[@{/}]]*/ ''; //context-path
layui.use(['table', "element", "jquery"], function(){
    var $ = layui.jquery,table = layui.table;
    var options = {
        elem: '#mail',
        url: ctx + "mails",
        where: {
            name: $("#send-to").val()
        },
        page: {
            curr: 1
        },
        cols: [
            [
                {type:'checkbox'},
                {"field": "id", "title": "ID", width:60},
                {"field": "to", "title": "接收者", width:200},
                {"field": "subject", "title": "标题"},
                {"field": "text", "title": "内容"},
                {"field": "sendDate", "title": "发送时间"},
                {"field": "sendTime", "title": "花费时间", width:100},
                {"field": "success", "title": "是否成功"},
                {"field": "message", "title": "异常信息"}
            ]
        ]
    };
    var tableIns = table.render(options);

    $("#query").click(function () {
        refresh();
    });

    $("#del").on("click", function () {
        var checkStatus = table.checkStatus('mail'); //test即为基础参数id对应的值
        if (checkStatus.data.length === 0) {
            layer.msg("未选中数据行");
        } else {
            var ids = [];
            $.each(checkStatus.data, function (i, mail) {
                ids.push(mail.id);
            });
            layer.confirm('真的删除行么', function(index){
                var params = {ids:ids};
                rportal.request(ctx + "mails/batchDelete", "POST", params, "删除");
                layer.close(index);
            });
        }
        // console.log(checkStatus.isAll ) //表格是否全选
    });

    // 重新加载数据
    function refresh() {
        options.where.name = $("#send-to").val();
        tableIns.reload(options);
    }

    // 添加更新配置弹窗
    function sendMail() {
        layer.open({
            type: 2, //此处以iframe举例
            title: options.title,
            area: ['380px', '280px'],
            content: content,
            btn: [options.btn, '关闭'],
            yes: function(index){
                layer.close(index);
            },
            cancel: function(){}
        });
    }
});
</script>
</body>
</html>


