<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: head"></head>
<head>
    <title>用户管理</title>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">Spring Boot Jpa</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div style="margin-bottom: 10px;">
                        <input id="username" type="text" class="layui-input search-input" placeholder="请输入关键字" />
                        <button class="layui-btn layui-btn-normal layui-btn-sm" id="query">查询</button>
                        <button class="layui-btn layui-btn-danger layui-btn-sm" id="del">删除</button>
                        <button class="layui-btn layui-btn-primary layui-btn-sm" id="add">添加</button>
                    </div>
                    <table id="user" lay-size="sm" lay-filter="user"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
var ctx = /*[[@{/}]]*/ "";
layui.use(['table', "element", "jquery"], function(){
    var $ = layui.jquery;
    var table = layui.table;

    var cols = [
        {type:'checkbox'},
        {"field": "userId", "title": "用户编码", "width": 100},
        {"field": "username", "title": "用户名"},
        {"field": "password", "title": "密码"},
        {"field": "createTime", "title": "创建时间"},
        {"field": "sex", "title": "性别"},
        {"field": "age", "title": "年龄"},
        {"field": "update", "title": "操作", "toolbar": '#toolbar'}
    ];

    var options = {
        elem: '#user',
        url: ctx + 'users',
        where: { // 设定异步数据接口的额外参数
            username: $("#username").val()
        },
        page: {
            curr: 1,
            theme: '#1E9FFF'
        },
        cols: [cols]
    };

    var tableIns = table.render(options);

    table.on('tool(user)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
        var data = obj.data; //获得当前行数据
        var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
        // var tr = obj.tr; //获得当前行 tr 的DOM对象

        if(layEvent === 'del'){ //锁定
            layer.confirm('你确定要删除用户[' + obj.data.username + ']么', function(index){
                var params = {
                    _method: "DELETE"
                };
                var requestUrl = ctx + "user/" + data.userId;
                request(requestUrl, "POST", params, "删除");
                layer.close(index);
            });
        }
    });

    $("#query").click(function () {
        refresh();
    });

    // 重新加载数据
    function refresh() {
        options.where.username = $("#username").val();
        tableIns.reload(options);
    }

    $("#add").click(function () {
        var params = {};
        request(ctx + "user", "POST", params, "添加")
    });

    $("#del").on("click", function () {
        var checkStatus = table.checkStatus('user'); //test即为基础参数id对应的值
        if (checkStatus.data.length === 0) {
            layer.msg("未选中数据行");
        } else {
            var userIds = [];
            $.each(checkStatus.data, function (i, user) {
                userIds.push(user.userId);
            });
            layer.confirm('真的删除行么', function(index){
                var params = {
                    _method: "DELETE",
                    userIds:userIds
                };
                var requestUrl = ctx + "users";
                request(requestUrl, "POST", params, "删除");
                layer.close(index);
            });
        }
        // console.log(checkStatus.isAll ) //表格是否全选
    });

    // 向后台发送请求，增删改查
    function request(url, method, params, msg) {
        $.ajax({
            url:url,
            type:method,
            dataType:'json',
            data: params,
            success:function(data){
                if (data === true) {
                    layer.msg(msg + "成功！");
                    refresh();
                }
            },
            error(response) {
                layer.msg(msg + "失败！服务器端发生错误！" + response.responseJSON.message);
            }
        });
    }
});
</script>
<script type="text/html" id="toolbar">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
</body>
</html>


